<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Design.pro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="left-menu">
                <li><a href="{% url 'index' %}">Главная</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'my_requests' %}">Мои заявки</a></li>
                    <li><a href="{% url 'request' %}">Создать заявку</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'logins' %}">Регистрация</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="right-menu">
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Выйти</button>
                    </form>
                </li>
                <li>
                    <a href="{% url 'panale' %}" class="profile-dropdown">Профиль</a>
                </li>
            </ul>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
